<h3>Projects</h3>
<%# unless @projects.empty? %>
<table class="projects">
	<tbody>
			<tr>
				<th>Project Name</th>
				<th>Current Row</th>
			</tr>
				<% @projects.each do |project| %>
					<tr>
						<td><%= link_to project.name, project %></td>
						<td><%= project.current_row %></td>
					</tr>
				<% end %>
		</tbody>
</table>
<%# end %>
<%= button_to "New Project", projects_new_path, :method => "get" %>

				