<header>
	<h1><%= base_title %></h1>
	<h3>Tools for crafters</h3>
	<nav class="round">
		<ul>
			<li><%= link_to "Home", root_path %></li>
			<li><%= link_to "Help", help_path %></li>
			<li><%= link_to "Sign in", '#' %></li>
		</ul>
	</nav>
</header>